*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: cursive;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.904);
    color: #fff;
}

a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0 5rem;
}

header {
    width: 100%;
    height: 70vh;
    text-align: center;
    background:linear-gradient(135deg,
    rgba(51, 51, 51, 0.8) 0%,
    rgba(233, 2, 2, 0.8) 100%),
    url('../images/carousel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    position: relative;
}

#header-text {
    width: 50%;
    text-align: center;
    position: absolute;
    right: 25%;
    bottom: 30%;
    z-index: 100;
}

#legacy {
    color: yellow;
}

nav {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.85);
    width: 100%;
    padding: 1rem 0rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo-box {
    display: inline-block;
    width: 6rem;
}

#logo-box img {
    width: 100%;
}

#search {
    display: inline-block;
}

#search input {
    margin: 0 0.3rem;
    padding: 0.5rem 1rem;
    border-color: #fafafa;
    border: none;
    border-bottom: .1rem #fafafada solid;
    box-shadow: none;
    background: transparent;
    color: #fff;
}

#search-btn {
    color: #fafafa;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

#nav-list {
    list-style: none;
    display: inline-block;
}

#nav-list li{
    display: inline;
    margin: 0 0.5rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.85);
}

.btn {
    padding: 0.5rem 1rem;
    font-weight: bold;
    
}

#close {
    display: inline-block;
    display: none;
}

.drop-down-box {
    position: relative;
}

.sub-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    margin-bottom: 1rem;
}

.sub-list:hover {
    visibility: visible;
}

.show-list {
    visibility: visible;
    backface-visibility: hidden;
}

.sub-link {
    transition: all .3s ease-out;
}

.sub-link:hover {
    transform: scale(1.2);
}

.sub-link a {
    color: #333; 
    margin-bottom: 1rem;
    font-size: 1.7rem;
    padding: 0 .5rem;
 }

#menu {
    display: inline-block;
    position: absolute;
    right: 2.5rem;
    display: none;
}

.fa-bars {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 0.3rem;
}

section {
    margin: 3rem 0;
}

.category {
    padding-left: 3rem;
    font-weight: bold;
    border-bottom: 0.2rem solid #fff;
    margin-bottom: 3rem;
}

.movie-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie {
    width: 30rem;
    margin-bottom: 2rem;
}

.movie img {
    display: block;
    width: 100%;
    height: 40%;
    transition: all .3s ease-out;
}

.movie img:hover {
    transform: scale(0.8);
}

.movie p {
    text-transform: capitalize;
    background-color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 100%;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie p span {
    margin: 0 1.5rem;
}

.movie-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.movie-rating {
    background-color: black;
    padding: .2rem;
    white-space: nowrap;
}

.movie p .movie-rating .fa-star {
    color: rgba(255, 255, 0, 0.808);
}

#btt {
    padding: 1rem;
    opacity: .7;
    position: fixed;
    top: 80vh;
    right: 2rem;
    visibility: hidden;
}

#movie-section {
    padding: 3rem;
    width: 100%;
    color: #fafafa;
    margin: 5rem 0;
}

#movie-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

#movie-container div {
    display: inline-block;
    margin: 2rem;
}

#movie-image img {
    width: 30rem;
}

#movie-detail {
    display: inline-block;
}

#movie-detail p {
    font-size: 1.5rem;
    margin: 3rem 0;
}

#movie-detail h3 {
    text-transform: uppercase;
}

#movie-trailer {
    margin: 5rem 0;
    text-align: center;
}

#movie-trailer video {
    width: 60%;
}

#movie-download {
    text-align: center;
}

#movie-download div a {
    margin: 0 2rem;
    color: blue;
    text-decoration: underline;

}

footer {
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


@media screen and (max-width: 780px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-list {
        width: 25rem;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.850);
        font-size: 20px;
        position: fixed;
        top: 0;
        right: -250rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-list li {
        margin: 1rem 0;
    }

    #close {
        display: inline-block;
        position: absolute;
        top: 5rem;
        left: 3rem;
    }

    .sub-list {
        z-index: 1000;
    }

    #search {
        position: relative;
    }

    #search input {
        width: 70%;
        padding-right: 2rem;
    }

    #logo-box {
        margin-right: 2rem;
    }

    #search-btn {
        position: absolute;
        right: 2.5rem;
        padding-left: 1rem;
        border-radius: 50%;
        padding: 0.5rem;
    }

    #menu {
        display: contents;
    }

    #movie-trailer video {
        width: 80%;
    }

}


@media screen and (max-width: 450px) {
    header .container {
        margin: 0 1rem;
    }

    #header-text {
        width: 80%;
        right: 5rem;
    }

    #search {
        display: inline-block;
        position: relative;
    }
    
    #search input {
        padding-left: .5rem;
        padding-right: 3rem;
    }
    
    #search-btn {
        position: absolute;
    }

    .movie {
        width: 100%;
    }

    #movie-trailer video {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #header-text {
        right: 3rem;
    }

    .container {
        margin: 0 1rem;
    }
}