*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    padding: 0 1.5rem;
    font-family: cursive;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.904);
    color: #fff;
}

a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}


header {
    background-color: #333;
    color: rgba(255, 255, 255, 0.85);
    width: 100%;
    padding: 1.5rem 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo-box {
    display: inline-block;
    width: 7rem;
}

#logo-box img {
    width: 100%;
}

#search {
    display: inline-block;
}

#search input {
    margin: 0 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: none;
    background: transparent;
    color: #fafafa;
}

#search-btn {
padding: .5rem;
color: #fafafa;
background-color: #333;
font-size: 16px;
}

#nav-list {
    list-style: none;
    display: inline-block;
}

#nav-list li{
    display: inline;
    margin: 0 0.5rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.85);
}

.btn {
    padding: 0.5rem 1rem;
    font-weight: bold;
    
}

#close {
    display: inline-block;
    display: none;
}

.drop-down-box {
    position: relative;
}

.sub-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.sub-list:hover {
    visibility: visible;
}

.show-list {
    visibility: visible;
    backface-visibility: hidden;
}

.sub-link {
    transition: all .3s ease-out;
}

.sub-link:hover {
    transform: scale(1.2);
}

.sub-link a {
    color: #333; 
    margin-bottom: 1rem;
    font-size: 1.7rem;
    padding: 0 .5rem;
 }



#menu {
    display: inline-block;
    position: absolute;
    right: 2.5rem;
    display: none;
}

.fa-bars {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 0.3rem;
}



section {
    margin-bottom: 3rem;
}

.section-1 {
    width: 100%;
    height: 70vh;
    background:linear-gradient(135deg,
    rgba(51, 51, 51, 0.5) 0%,
    rgba(26, 17, 17, 0.5) 100%),
    url('../images/AssassinsCreedIII.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

.category {
    padding-left: 3rem;
    font-weight: bold;
    border-bottom: 0.2rem solid #fff;
    margin-bottom: 3rem;
}

.movie-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie {
    width: 30rem;
    margin-bottom: 2rem;
}

.movie img {
    display: block;
    width: 100%;
    height: 40%;
    transition: all .3s ease-out;
}

.movie img:hover {
    transform: scale(0.8);
}

.movie p {
    text-transform: capitalize;
    background-color: #333;
    font-size: 1.7rem;
    font-weight: bold;
    max-width: 100%;
    padding-left: 0.5rem;
}

#btt {
    padding: 1rem;
    opacity: .7;
    position: fixed;
    top: 80vh;
    right: 2rem;
    visibility: hidden;
}

footer {
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}





@media screen and (max-width: 780px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-list {
        width: 25rem;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.850);
        font-size: 20px;
        position: fixed;
        top: 0;
        right: -250rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-list li {
        margin: 1rem 0;
    }

    #close {
        display: inline-block;
        position: absolute;
        top: 5rem;
        left: 3rem;
    }

    .sub-list {
        z-index: 1000;
    }

    #search {
        position: relative;
    }

    #search input {
        width: 70%;
        padding-right: 2rem;
    }

    #logo-box {
        margin-right: 2rem;
    }

    #search-btn {
        position: absolute;
        right: 2.5rem;
        padding-left: 1rem;
        border-radius: 50%;
        padding: 0.5rem;
    }

    #menu {
        display: contents;
    }

}


@media screen and (max-width: 450px) {
    .section-1 { 
        background:linear-gradient(135deg,
        rgba(51, 51, 51, 0.5) 0%,
        rgba(233, 2, 2, 0.5) 100%),
        url('../images/spiderman.jpg');
        background-size: cover;
        background-position: left center;
    }
}